h1 {
    color:black;
    text-align:center;
    text-shadow: 5px;
    font: x-large;
    font-family:cursive;

}
    
body {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
    }
table {
    overflow: hidden;
    border; 1px solid black;
    border-collapse: collapse;
    padding; 5px;

}